header {
	display: inline-block;
	width: 100%;
	position: relative;
    background: url("http://upload.wikimedia.org/wikipedia/commons/4/4e/Line_Dancing.jpg") center center no-repeat fixed; /*scroll;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section#social {
	background: #3f1e1e;
}
