---
---
/* general styles */
html, body {
	height: 100%;
	width: 100%;
}

h2 {
	text-align: center !important;
}

.pad-section {
	padding: 50px 0;
}

.pad-section img {
	width: 100%;
}

/* additional sections */
#home {
    background: url("/assets/images/overland-house.jpg") center center no-repeat fixed; /*scroll;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
}

#title {
	display: block;
	height: 0;
	padding-top: 28.86%;
	font-size: 0;
	line-height: 0;
	vertical-align: middle;
	background: url("{{ site.logo }}") center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section#social {
	background: #3f1e1e;
}
