//body {
//	background-color: @brand-info;
//}

#menu, #events {
	.bg-info;
	.text-primary;
}

#contact {
	.bg-primary;
	.text-info;
}

.section-header {
	font-family: @font-family-serif;
	font-size: 2.8em;
}

.businessInfoGroup {
	.text-info;
	font-size: 1.1em;

	> h5 {
		.text-thin;
		font-size: 1.1em;
	}
	> h4.businessInfoGroup-title {
			font-size: 1em;
	}
	> h5.businessInfoGroup-street {
		margin-bottom: 0px;
	}
	> h5.businessInfoGroup-city {
		margin-top: 2px;
	}
	> h5.businessInfoGroup-telephone {
			margin-top: 25px;
	}
}

.hr-primary {
	border-top: 1px solid @brand-primary;
	margin-top: 50px;
}