// Brand colors
// -------------------------
@brand-primary: #311718;  //#2B2419
@brand-info: #F9F2E5;
@brand-warning: #F9A52B;
@brand-success: #9b4a37;

// Typography
// -------------------------
@font-family-sans-serif: "tablet-gothic-condensed", Helvetica, Arial, sans-serif;
@font-family-serif: "century-old-style-std", Georgia, "Times New Roman", Times, serif;
//@font-family-sans-serif: "Roboto Condensed", sans-serif;

// Navbar
// -------------------------
//@navbar-height: 85px;

// Default Navbar --> use for B2C navbar
@navbar-default-color: @brand-info;
@navbar-default-bg: @brand-success;
//
//// Navbar links
@navbar-default-link-color:                @brand-info;
@navbar-default-link-hover-color:          @brand-info;
//@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-active-color:          @brand-info;

//Inverse Navbar --> use for B2B navbar
@navbar-inverse-brand-color: @brand-info;
@navbar-inverse-link-color: @brand-info;
@navbar-inverse-bg: @brand-success;
@navbar-inverse-border: @brand-success;

@state-info-text:                @brand-info;
@state-info-bg:                  @brand-info;
@state-info-border:              darken(spin(@state-info-bg, -10), 7%);

@state-warning-text:             @brand-warning;