<div class="container-fluid">
	<div class="row businessInfo pad-25-vertical">
		<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1 businessInfoGroup text-center">
			{% for interval in site.data.business.hours %}
			<h4 class="businessInfoGroup-title businessInfoGroup-inlineBlockItem">
				{% if interval.dayOfWeek.first == interval.dayOfWeek.last %}
					{{ interval.dayOfWeek | first }}
				{% elsif interval.dayOfWeek.first != interval.dayOfWeek.last %}
					{{ interval.dayOfWeek | first }}, {{ interval.dayOfWeek | last }}
				{% endif %}
			</h4>
				<h5 class="businessInfoGroup-inlineBlockItem">{{ interval.opens }} &ndash; {{ interval.closes }}</h5><br>
			{% endfor %}
		</div>

		<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1 businessInfoGroup text-center">
			<h4 class="text-uppercase businessInfoGroup-title">{{ site.title }}</h4>
			<h5 class="businessInfoGroup-street">{{ site.data.business.contact.street }}</h5>
			<h5 class="businessInfoGroup-city">{{ site.data.business.contact.city }}, {{ site.data.business.contact.state }}</h5>
			<h5 class="businessInfoGroup-telephone">
				<a class="businessInfoGroup-telephone--link" href="tel:+1{% for tel in site.data.business.contact.telephone %}{{ tel.number | prepend:'-' }}{% endfor %}">
					{% for tel in site.data.business.contact.telephone %}
						{% if forloop.first %}
							{{ tel.number }}
						{% else %}
							{{ tel.number | prepend:'.' }}
						{% endif %}
					{% endfor %}
				</a>
			</h5>
		</div>
	</div><!--.row-->
</div>

