<section id="contact" class="contact pad-25-vertical">
	<div class="container">
		<div class="row">
			<h2 class="text-center section-header text-info">Contact</h2>
		</div>

		<div class="row pad-25-vertical text-center">
			<div class="col-xs-10 col-xs-offset-1 businessInfoGroup text-center">
				<h4 class="text-uppercase businessInfoGroup-title">{{ site.title }}</h4>
				<h5 class="businessInfoGroup-street">{{ site.data.business.contact.street }}</h5>
				<h5 class="businessInfoGroup-city">{{ site.data.business.contact.city }}, {{ site.data.business.contact.state }}</h5>
				<h5 class="businessInfoGroup-telephone">
					<a class="businessInfoGroup-telephone--link" href="tel:+1{% for tel in site.data.business.contact.telephone %}{{ tel.number | prepend:'-' }}{% endfor %}">
						{% for tel in site.data.business.contact.telephone %}
							{% if forloop.first %}
								{{ tel.number }}
							{% else %}
								{{ tel.number | prepend:'.' }}
							{% endif %}
						{% endfor %}
					</a>
				</h5>
				<a class="businessInfoGroup-email" href="mailto:{{ site.data.business.contact.email }}?subject=Website+Query">{{ site.data.business.contact.email }}</a>
			</div>
		</div>

		<div class="row text-center">
			<div class="col-xs-10 col-xs-offset-1">
				{% for soc in site.data.business.contact.online %}
					<a href="{{ soc.link }}" class="btn btn-primary socialIcons">
						<i class="fa fa-{% unless soc.name == "email" %}{{ soc.name }}{% else %}envelope{% endunless %} fa-2x fa-fw"></i>
					</a>
				{% endfor %}
			</div>
		</div>

	</div>
</section>
