<section id="events" class="events pad-50-bottom">
	<div class="container">
		<div class="row">
			<h2 class="text-center section-header text-warning">Events</h2>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1">
				<ul class="list-unstyled text-center">
				{% for event in site.data.events.regular.items %}
				<li class="eventItem">
					{% if event.thumbnail %}
					<img src="{{ event.thumbnail }}" alt="{{ event.name }}">
					{% endif %}
					<h3 class="eventItem-title">{{ event.title | capitalize }}</h3>
					<h4 class="eventItem-subtitle">{{ event.day }}
						<span class="eventItem-subtitle--time">{{ event.time }}</span>
					</h4>
					{% if event.description %}
						<p class="eventItem-description">
							{{ event.description }}
						</p>
					{% endif %}
				</li>
				{% endfor %}
				</ul>
			</div>
		</div><!--.row-->
	</div>
</section>
