<footer>
	<div class="container pad-25-top">
		<div class="row">
			<nav class="navbar navbar-default" role="navigation">
					<ul class="nav navbar-nav col-md-4 col-md-push-4">
						{% include navlist.html %}
					</ul>
			</nav>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center" id="copyright">
				<p class="copyright copyrightText small">
					Copyright &copy;2015 {{ site.author }}. All Rights Reserved.
				</p>
			</div><!--/#copyright-->
		</div><!--.row-->
	</div><!--.container-->
</footer>
