<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<section id="home">
	<header class="business-header">
    	<div class="container">
        	<div class="row">
            	<div class="col-lg-12">
					<div class="vertical-center">
                		<h1 class="sr-only">{{ site.title }}</h1>
						<img src="{{ site.logo }}" class="title-logo image-responsive" alt="logo: {{ site.title }}">
					</div><!--.vertical-center-->
            	</div>
        	</div>
    	</div>
		<section id="info">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						{% for interval in site.data.business.hours %}
						<h4>{% for day in interval.dayOfWeek %}{% if forloop.first %}{{ day }} &ndash; {% endif %}{% if forloop.last %}{{ day }}{% endif %}{% endfor %}</h4>
						<h5>{{ interval.opens }} &ndash; {{ interval.closes }}</h5>
						{% endfor %}
					</div>
					<div class="col-lg-6">
						<h4>{{ site.title }}</h4>
						<h5>{{ site.data.business.contact.street }}</h5>
						<h5>{{ site.data.business.contact.city }}, {{ site.data.business.contact.state }}</h5>
						<h5>{{ site.data.business.contact.telephone }}</h5>
					</div>
				</div><!--.row-->
			</div><!--.container-->
		</section><!--/#info-->
	</header><!--.business-header-->
</section><!--/#home-->

