<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<section id="home">
	<header class="business-header">
    	<div class="container">
        	<div class="row">
            	<div class="col-lg-12">
					<div class="vertical-center">
                		<h1 class="sr-only">{{ site.title }}</h1>
						<img src="{{ site.logo }}" class="title-logo image-responsive" alt="logo: {{ site.title }}">
					</div><!--.vertical-center-->
            	</div>
        	</div>
    	</div>
	</header>
	<section id="info">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-lg-push-4">
					{% for interval in site.data.business.hours %}
					<h4>{% for day in interval.dayOfWeek %}{% if forloop.first %}{{ day }}{% endif %} - {% if forloop.last %}{{ day }}{% endif %}{% endfor %}</h4>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>

</section><!--/#home-->

