<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Boostrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Google Analytics -->
<script>
	(function(i,s,o,g,r,a,m){
		i['GoogleAnalyticsObject']=r;
		i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();
			a=s.createElement(o),m=s.getElementsByTagName(o)[0];
			a.async=1;
			a.src=g;
			m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
{% if site..google_analytics %}
	ga('create', '{{ site.google_analytics }}', 'auto');
{% endif %}
    ga('send', 'pageview');
</script>

<!-- Local Javascript functions -->
<script src="js/main.js"></script>
