{% comment %}
This is really just the layout file for the menu.  It uses templates within the menu/ subdirectory to actually generate the markup.

For now, the available templates are:
  - food.html
  - drinks.html

{% endcomment %}
{% include menu/food.html menu=site.data.menu.pizza %}
{% include menu/food.html menu=site.data.menu.sandwiches %}
{% include menu/food.html menu=site.data.menu.salads %}
{% include menu/food.html menu=site.data.menu.appetizers %}
{% include menu/food.html menu=site.data.menu.burgers %}
{% include menu/food.html menu=site.data.menu.drinks %}
