{% comment %}
	This is really just the layout file for the menu.
	It uses templates within the menu/ directory to actually generate the markup.
	Those templates get included in the order they appear here.

	For now, the available templates are:
  	  - food.html
  	  - drinks.html
{% endcomment %}

{% include menu/food.html menu=site.data.menu.food.pizza %}
{% include menu/food.html menu=site.data.menu.food.sandwiches %}
{% include menu/food.html menu=site.data.menu.food.salads %}
{% include menu/food.html menu=site.data.menu.food.appetizers %}
{% include menu/food.html menu=site.data.menu.food.burgers %}

{% include menu/drinks.html menu=site.data.menu.drinks %}
