<script type="application/ld+json">
[{
	"@context": "http://schema.org",
	"@type": "{{ site.type }}",
	"name": "{{ site.title }}",
	"telephone" : "{{ site.data.business.contact.telephone }}",
	"address" : {
		"@type" : "PostalAddress",
		"streetAddress" : "{{ site.data.business.contact.street }}",
		"addressLocality" : "{{ site.data.business.contact.city }}",
		"addressRegion" : "{{ site.data.business.contact.state }}",
		"postalCode" : "{{ site.data.business.contact.zip }}"
	},
	"url" : "{{ site.url }}",
	"sameAs" : [
	  {% for network in site.data.business.contact.online %}
		"{{ network.link }}"{% unless forloop.last %},{% endunless %}
	  {% endfor %}
	],
	{{ site.data.business.hours }},
</script>
