{% comment %}
	This is ugly as it mixes presentation and layout.  Basically we figure out how many items are in a section and put half of them in the #leftcol <div> and then the other half into the #rightcol <div>.
{% endcomment %}


{% assign half = carte.items.size | divided_by:2 %}
{% assign total = half | times:2 %}
{% if total < carte.items.size %}{% assign half = half | plus:1 %}{% endif %}

<div role="tabpanel" class="tab-pane{% if forloop.first %} active{% endif %}" id="{{ carte.name }}">
	<div class="col-xs-12 col-sm-6 pad-50-lateral">
		<div class="foodItemGroup-firstItem">
		{% for item in carte.items %}
			{% if forloop.index <= half %}
	   	   	   {% include menu/item.html %}
	   		{% endif %}
		{% endfor %}
		</div><!--.list-group-->
	</div><!--.leftcol-->

	<div class="col-xs-12 col-sm-6 pad-50-lateral">
		<div class="foodItemGroup-lastItem">
		{% for item in carte.items %}
			{% if forloop.index > half %}
				{% include menu/item.html %}
			{% endif %}
		{% endfor %}
		</div><!--.list-group-->
	</div><!--.rightcol-->
</div><!--.tab-pane#{{ carte.name }}-->
