{% comment %}
	This is ugly as it mixes presentation and layout.  Basically we figure out how many dishes are in a section and put half of them in the #leftcol <div> and then the other half into the #rightcol <div>.
{% endcomment %}

{% assign half = include.menu.dishes.size | divided_by:2 %}
<section class="menu" id="{{ include.menu.name }}">
	<div class="container">
		<div class="row">
			<h3 class="sr-only">{% if include.menu.fullname %}{{ include.menu.fullname }}{% else %}{{ include.menu.name }}{% endif %}</h3>
			<div class="left-col col-lg-6 col-md-6 col-sm-12">
			{% for dish in include.menu.dishes %}
			{% unless forloop.index <= half %}{% break %}{% endunless %}
				{% include menu/dish.html %}
			{% endfor %}
			</div><!--.leftcol-->

			<div class="rightcol col-lg-6 col-md-6 col-sm-12">
			{% for dish in include.menu.dishes %}
			{% unless forloop.index > half %}{% continue %}{% endunless %}
				{% include menu/dish.html %}
			{% endfor %}
			</div><!--.rightcol-->
		</div><!--.row-->
	</div><!--.container-->
</section><!--.menu#pizza-->
