{% assign dishes = site.data.menu.pizza.dishes %}

<div class="container">
	<div class="row">
		{% capture size  %}{{ dishes | size }}{% endcapture %}
		{% capture limit %}{{ size | divided_by:2 }}{% endcapture %}
		<div class="leftcol col-lg-6 col-md-6 col-sm-12">
		{% for dish in dishes limit:limit %}
			<h4>
				<span class="name">{{ dish.name }}</span> <span class="price">{{ dish.price }}</span>
			</h4>
			<p class="description">{{ dish.description }}</p>
		{% endfor %}
		</div><!--.leftcol-->
		<div class="rightcol col-lg-6 col-md-6 col-sm-12">
		{% for dish in dishes offset:limit %}
			<h4>
				<span class="name">{{ dish.name }}</span> <span class="price">{{ dish.price }}</span>
			</h4>
			<p class="description">{{ dish.description }}</p>
		{% endfor %}
		</div><!--.rightcol-->
	</div><!--.row-->
</div><!--.container-->
