footer {
	background-color: @brand-success;
	.navbar-default {
		border: transparent;

		.navbar-nav {
			.flex-centerContent;
			align-content: space-between;
			> li > a {
				.text-center;
				.center-block;
				//font-size: 1.1em;
				//.text-light;
			}
		}
	}
}