.foodItemGroup {

}

.foodItem {
	.text-primary;
	margin: 0 0 15px;
}

.foodItem-name {
	.text-uppercase;
	margin-top: 0;
	margin-bottom: 2px;
}

.foodItem-price {
	&:before {
		content: '|';
		margin-left: 1px;
		margin-right: 4px;
	}
}

.foodItem-description {
	font-size: 1.2em;
	.text-light;
	line-height: 1.2;
}

.foodItemGroup-firstItem {
	margin-top: 10px;
}

.foodItemGroup-lastItem {
	margin-bottom: 10px;
}