<!DOCTYPE html>
<html lang="en">

<head>
	{% include head.html %}
	{% include semantics.html %}
</head>

<body data-spy="scroll" data-target="#navbar-collapse-main">
	{% comment %}<!--
	// <head> and the top navigation menua as defined in _data/layouts/website
	-->{% endcomment %}
	{% include top.html %}

	{% comment %}<!--
		// Add sections in the order defined in _data/layouts/website
	-->{% endcomment %}

{% for item in site.data.layouts.website %}
{% capture element %}{% if forloop.first %}header{% else %}section{% endif %}{% endcapture %}
	<{{ element }} id="{{ item }}">
	{% unless forloop.first %}<div class="container"><div class="row pad-25-top"><h2 class="text-center">{{ item | capitalize }}</h2></div>{% endunless %}
			{% include {{ item }}.html %}
	</{{ element }}><!--.pad-section#{{ item }}-->
{% endfor %}


	<footer class="bg-primary">
		{% include bottom.html %}
	</footer><!--.pad-section-->

	<!-- JavaScripts -->
	{% include javascripts.html %}
</body>

</html>
